@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #000;
  color: white;
}

/* Style personnalisé pour les Sliders (Range Input) */
input[type=range] {
  -webkit-appearance: none; /* Enlève le style par défaut */
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #F59E0B; /* Le jaune/orange */
  cursor: pointer;
  margin-top: -6px; /* Ajustement vertical */
  box-shadow: 0 0 0 2px #000; /* Petite bordure noire autour du rond */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #374151; /* Gris foncé pour la barre */
  border-radius: 2px;
}